title: Alauda Database Service for MySQL-MGR
logoText: Alauda Database Service for MySQL-MGR
lang: en
api:
  crds:
    - docs/shared/crds/*.yaml
  openapis:
    - docs/shared/openapis/*.json
permission:
  functionresources:
    - docs/shared/functionresources/*.yaml
  roletemplates:
    - docs/shared/roletemplates/*.yaml
releaseNotes:
  queryTemplates:
    mw-mgr-v4.2.0-fixed: |
      filter = 16502 AND status in (Done, Resolved) AND (labels not in (安全问题) OR labels is EMPTY) AND project = MIDDLEWARE AND Feature = "MiddleWare - MySQL-MGR"  AND fixVersion = MGR-v4.2.0 AND ReleaseNotesStatus = Publish
